# **Fianancial data analysis by python**

#### **Importing required librarires**

In [17]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import warnings
import plotly.express as px

#### **Loading on the jupyter**

In [19]:
df=pd.read_excel(r"C:\Users\ndary\Downloads\code basics\python\financial_loan project.xlsx")
df.head()

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,2021-02-11,2021-09-13,2021-04-13,...,C4,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,2021-01-01,2021-12-14,2021-01-15,...,E1,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,2021-01-05,2021-12-12,2021-01-09,...,C5,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,2021-02-25,2021-12-12,2021-03-12,...,B2,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,2021-01-01,2021-12-14,2021-01-15,...,A1,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835

#### **Looking into its shape**

In [15]:
df.shape

(38576, 24)

In [21]:
df.shape[1]

24

#### **Getting statistical info for particular columns**

In [33]:
df.total_payment.describe()

count    38576.000000
mean     12263.348533
std       9051.104777
min         34.000000
25%       5633.000000
50%      10042.000000
75%      16658.000000
max      58564.000000
Name: total_payment, dtype: float64

#### **Knowing the data types of paticular column**

In [41]:
df.dtypes

id                                int64
address_state                    object
application_type                 object
emp_length                       object
emp_title                        object
grade                            object
home_ownership                   object
issue_date               datetime64[ns]
last_credit_pull_date    datetime64[ns]
last_payment_date        datetime64[ns]
loan_status                      object
next_payment_date        datetime64[ns]
member_id                         int64
purpose                          object
sub_grade                        object
term                             object
verification_status              object
annual_income                   float64
dti                             float64
installment                     float64
int_rate                        float64
loan_amount                       int64
total_acc                         int64
total_payment                     int64
dtype: object

#### **Know the column**

In [50]:
df.columns

Index(['id', 'address_state', 'application_type', 'emp_length', 'emp_title',
       'grade', 'home_ownership', 'issue_date', 'last_credit_pull_date',
       'last_payment_date', 'loan_status', 'next_payment_date', 'member_id',
       'purpose', 'sub_grade', 'term', 'verification_status', 'annual_income',
       'dti', 'installment', 'int_rate', 'loan_amount', 'total_acc',
       'total_payment'],
      dtype='object')

#### **Total application the bank has issued in min to max time zone**

In [60]:
Total_Loan_Applications=df.id.count()

#### **when was the latest issue date , in that year, month**

In [86]:
Max_Date=df.issue_date.max()

In [88]:
Max_Year=Max_Date.year

In [90]:
Max_Month=Max_Date.month

#### **MTD means first of the month to current date , this line tells total applications in the month of dec from 1st to 12th**

In [98]:
mtd=df[(df.issue_date.dt.year==Max_Year )& (df.issue_date.dt.month==Max_Month)]

In [102]:
mtd.issue_date.sort_values(ascending=True)

16      2021-12-02
1962    2021-12-07
1943    2021-12-07
1939    2021-12-07
25072   2021-12-07
           ...
21794   2021-12-11
21801   2021-12-11
6637    2021-12-11
13      2021-12-11
18      2021-12-12
Name: issue_date, Length: 4314, dtype: datetime64[ns]

#### **Count of those applications**

In [108]:
MTD_total_count=mtd.id.count()
MTD_total_count

4314